#history-register {
  background-image: url('../img/bg1.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: brightness(0.6);

  .card-panel {
    position: relative;
  }

  #modal-register {
    max-width: 530px;
  }

  #modal-preferences {
    max-width: 300px;
  }

  .container {
    justify-content: center;
    display: flex;
    height: 100vh;
  }

  .card-panel {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin: 0;
    margin-top: 3px;
    font-size: 1.8rem;
  }

  .empty {
    padding: 40px;
  }

  .btn-floating {
    width: 35px;
    height: 35px;

    i {
      line-height: 35px;
    }
  }

  .btn-edit {
    margin-left: auto !important;
  }

  .btn-actions {
    margin-top: auto;
    text-align: right;
  }

  #btn-confirmation {
    margin-left: 20px;
  }

  #btn-preferences {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .materialize-textarea {
    min-height: 90px;
    line-height: 1.5;
  }

  .order {
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 10px;
  }

  .collapsible-header {
    padding: 10px;

    span {
      line-height: 2;
    }

    i {
      margin: 0;
    }
  }

  pre {
    margin: 0;
  }

  .radio-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0;
    label:last-child {
      margin-left: 30%
    }
  }

}

.collapsible.popout > li {
  margin: 0 10px;
  box-shadow: none;
}

.radio-label {
  position: sticky !important;
}

.tooltip {
  vertical-align: middle;
  color: #26a69a;
  font-size: 20px !important;
  margin-left: 10px;
}
