#history-register {

  #btn-edit {
    margin-left: auto !important;
    margin-right: 10px;
  }

  #btn-confirmation {
    margin-left: auto;
  }

  #btn-wrapper, #btn-confirmation-div {
    display: flex;
    align-items: center;
  }
}
