#home {
  background-image: url('../img/bg1.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: brightness(0.6);
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
  }

  .card-panel {
    width: 100%;
    max-width: 500px;
    min-height: 370px;
    display: flex;
    flex-direction: column;
  }

  #card-title {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      margin-top: 0;
      font-weight: bold;
    }
  }

  .btn-actions {
    margin-top: auto;
    text-align: right;

    .btn:last-child {
      margin-left: 20px;
    }

    .btn {
      margin-top: 10px;
    }
  }
}
