.player {
  i {
    vertical-align: middle;
  }
}

.player-vote {
  display: flex;
  justify-content: space-between;

  span {
    margin-left: 3px;
    flex-shrink: 0;
    margin-top: 10px;
    font-size: 13px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 30px;
    height: 40px;

    .card__value__center {
      font-size: 16px;
      font-weight: bold;
    }

    .card__value {
      font-size: 9px;
      margin: 0;
      width: 15px;
    }
  }

  .hidden-count {
    visibility: hidden;
  }
}
