#room {
  background: url(https://s.cdpn.io/44759/Wood-Backgrounds-Picture.jpg) no-repeat top center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: brightness(0.6);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  #result-container {
    margin: 25px auto 0 auto;
    width: 500px;
    background-color: #EDEBD7;
    border: 1px solid #423E37;
    box-sizing: border-box;
    box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: fadeIn 1.2s;

    @media screen and (max-width: 520px) {
      width: 93vw;
    }

    &.hidden {
      display: none;
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .custom-card {
    margin: 0;
    height: auto;
    max-height: 180px;
    max-width: 320px;
    transition: all ease-in 0.3s;
    width: 32vw;
    margin-top: 10px;
    padding: 20px;
  }

  #limited-text {
    max-width: 320px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mini-card {
    width: 25px;
    height: 30px;
    display: flex;
    background: white;
    margin-right: 10px;
    margin-left: 10px;
    span {
      margin: auto;
    }
  }

  #name-wrapper {
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 10px;
    span {
      margin-right: 0.3em;
    }
  }

  .center {
    text-align: center;
  }

  #card-wrapper {
    display:flex;
    flex-wrap: wrap;
  }

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .player-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
  }

  table {
    i {
      vertical-align: middle;
    }
  }

  .cards {
    margin: 30px auto 0 auto;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.32s;
    transition-timing-function: ease-in-out;
    transition-property: opacity transform;

    &.hidden {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
      margin: 0;
      width: 0;
      // position: absolute;
      // display: none;
    }
  }

  .player-container {
    background-color: #EDEBD7;
    border: 1px solid #423E37;
    box-sizing: border-box;
    box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 350px;
    padding: 20px;
    cursor: default;
  }

  .button-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  .check {
    transform: translateY(-8px);

    .card {
      background: #64b5f6 !important;
    }
  }

  .collapsible {
    box-shadow: none;
    border: none;

    h6 {
      font-size: 1rem;
      margin: 0;
    }

    .collapsible-header, .collapsible-body {
      background: transparent;
      box-shadow: none;
      border: none;
    }

    .collapsible-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .collapsible-body {
      padding-bottom: 2px;
    }

    #arrow-collapsible {
      transition: all .2s ease-out;
    }

    .active #arrow-collapsible  {
      transform: rotate(-180deg);
    }
  }

  #input-link {
    all: unset;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
    width: 100%;
  }

  #btn-copy {
    vertical-align: middle;
    cursor: pointer;
  }

  #no-consensus {
    display: none;
    margin-top: 0;
    color: red;
  }

  #canvas-wrapper {
    margin-top: 20px;
  }

  #btn-leave {
    text-decoration: underline;
    padding: 0 10px;
  }
}
