#room {
  background: url(https://s.cdpn.io/44759/Wood-Backgrounds-Picture.jpg) no-repeat top center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: brightness(0.6);
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .player-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
  }

  table {
    i {
      vertical-align: middle;
    }
  }

  .cards {
    margin: 0 auto;
  }

  .player-container {
    background-color: #EDEBD7;
    border: 1px solid #423E37;
    box-sizing: border-box;
    box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin: 20px;
    width: 350px;
    padding: 20px;
    cursor: default;
  }

  .button-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  .check {
    transform: translateY(-8px);

    .card {
      background: #64b5f6 !important;
    }
  }

  .cards-container-wrapper {
    width: fit-content;
    height: 85vh;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
  }

  .cards-container-wrapper .card {
    margin: 7px;
  }
}
