#room {
  background: #666 url(https://s.cdpn.io/44759/Wood-Backgrounds-Picture.jpg) no-repeat top center;
  table {
    background-color: #EDEBD7;
    border: 1px solid #423E37;
    box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 40px;
  }

  .player-container {
    position: relative;
    top: 25vh;
  }

  .wrapper {
    width: 100vw;
    padding-left: 35px;
    padding-right: 20px;
  }

  #btn-confirm-play {
    position: fixed;
    bottom: 1em;
    transform: translateX(-50%);
    left: 50%;
    height: 6vh;
  }

  .check {
    background: rgba(0, 250, 154, 0.5) !important;
  }

    .cards-container-wrapper {
        width: fit-content;
        height: 85vh;
        overflow-x: scroll;
        display: flex;
        flex-wrap: wrap;
    }

    .cards-container-wrapper .card {
        margin: 7px;
    }

  #fab {
    top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #dropdown1 span {
    position: relative;
    left: 35%;
  }

  #admin-icon {
    vertical-align: middle;
    color: green;
  }
}
