@import 'materialize-css/dist/css/materialize.min.css';
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import './home';
@import './history-register';
@import './room';
@import './end-game';

@import './loader';
@import './cards';
@import './timer';
@import './player.scss';

#app.show {
  opacity: 0;
}

.sortable-ghost { opacity: 0 !important; }

* {
  font-family: 'Nerko One', cursive;
}

button, input, optgroup, select, textarea {
  font-family: 'Nerko One', cursive;
}

input::placeholder {
  font-family: 'Nerko One', cursive;
}

html, body {
  height: 100%;
  overflow: hidden;

  @media print {
    height: auto;
  }
}

.collapsible-body {
  background: #f4f4f4;
}

@media(max-width:576px) {
  .modal {
      top: 0 !important;
      max-height: 100vh;
      max-width: 100vw !important;
      height: 100vh;
      width: 100vw;
  }
  .modal-footer {
      position: fixed;
      bottom: 0;
  }

  #btn-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
